@main-grey-color: #5f5f5f;
@h1-grey-color: #727270;
@green: #1B7E5A;
@red-error: #B40404;

@bg-color: #f3f1ed;
@bg-color-dark: darken(@bg-color, 3%);
@bg-container-color: #fff;
@bg-container-border: #dedbd2;


.animation (@name: all, @duration: 300ms, @delay: 0, @ease: linear) {
   -webkit-animation: @name @duration @ease;
   -moz-animation:    @name @duration @ease;
   -ms-animation:     @name @duration @ease;
   animation:         @name @duration @ease;
}





