#steps .step {
  font-size: 1em;
  text-align: center;
  color: #acacac;
  min-height: 1em;
}
#steps .step .active {
  color: #5f5f5f;
  font-weight: bold;
}
#steps .step .active.green {
  color: #284e36;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle,
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  border-radius: 0px;
  margin-top: 3px;
  max-width: 100%;
}
.input-prepend,
.input-append {
  max-width: 80%;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group,
.input-prepend .add-on,
.input-prepend .btn,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
label,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
}
.btn {
  margin-top: 3px;
  font-size: 12px;
}
.btn .caret {
  margin-top: 8px;
}
.btn.noheight {
  margin: 0;
  padding: 0;
  line-height: 12px;
}
span.dropdown {
  padding: 4px 0;
}
span.dropdown .dropdown-menu {
  margin-top: 6px;
}
.result-variant {
  min-width: 65px;
}
.info-error {
  color: #b40404;
}
