@import "_variables.less";

#page-header {
   #banner {
      display: block;
      position: relative;
      float: none;
      height: 140px;
      padding: 8px 0 0;
      z-index: 6;

      .main-logo {
         float: left;
         margin: 45px 0 0 16px;
      }
   }

}

footer {
   bottom : 0;
   border-top: 1px solid #ccc;
   padding: 15px 0 20px 0;
   margin: 40px auto 0;

   p.address {
      margin-bottom: 0;
   }
}
