@import "_variables.less";

#page-header {
   #banner {
      display: block;
      position: relative;
      float: none;
      height: 140px;
      padding: 8px 0 0;
      width: 996px;
      z-index: 6;

      .main-logo {
         float: left;
         margin: 45px 0 0 16px;
      }
   }

}
