@import "_variables.less";

body {

   background: url('../images/header-bck.gif') 0 0 repeat-x @bg-color;
   height: 100%;

   color: @main-grey-color;
   font-family: Arial,Helvetica,sans-serif;
   font: 14px/1.231 sans-serif;

   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;

   vertical-align: baseline;

   text-align: center;
}

ul {
   list-style: none;
}

#wrapper {
   margin-left: auto;
   margin-right: auto;
   max-width: 1003px;
   width: 100%;
   padding: 0;
   margin-top: 0;
   text-align: left;
}

h1 {
   color: @h1-grey-color ;
   font-size: 22px;
   line-height: 22px;
   font-weight: normal;
}

h2 {
   font-size: 1em;
   font-weight: bold;
   line-height: 1em;
}

.green {
   color: @green;
}

.data-container {
   background: @bg-container-color;
   border: 1px solid @bg-container-border;

   padding: 10px 18px 20px;
   margin-top: 13px;

   &.hidden {
      height: 0;
   }
}


body.mobile {
   background: @bg-color;;

   .data-container {
      border: none;
      background: none;
   }

   .hide-mobile {
      display: none !important;
   }

}

body:not(.mobile) {
   .hide-desktop {
      display: none !important;
   }
}
/* BOOTSTRAP */

@media (min-width: 1200px) {
   .row {
      margin-left: -20px;
   }
}

.row-fluid [class*="span"] {
   min-height: 1em;
}

.control-group {
   margin-top : 5px;
   position: relative;

   .error-popover {
      .animation();
      width: 197px;
      left: 95%;
      top: 62px;
      display: block;
   }

   &:not(.alert) {
      .error-popover {
         .animation();
         opacity: 0;
         visibility: hidden;
      }
   }

   &.alert {
      .error-popover {
         opacity: 1;
      }

      .mobile-error {
         text-align: right;
         width: 100%;
      }
   }
}


.page-wrap {
   position: relative;

   .page {
      position: relative;
      top: 0;

      &.showed {
         display: block;
         //opacity: 1;
      }

      &.not-showed {
         display: none;
      }
   }
}

.irs {
   margin-top: 10px;
}

/*.input-prepend, .input-append {
   max-width: 100%;
}
*/
