<table id="steps">
    <tr>
        <td class="step" ng-class="{active : step.active}" ng-repeat="step in steps">{{step.name}}</td>
    </tr>
</table>

<div ng-show="steps[0].active && !steps[1].active">
    <form name="QuoteForm0" novalidate ng-submit="submit()" >
        <input type="text" name="firstName" ng-model="firstName" placeholder="First Name" required/>
        <br>
        <input type="text" name="lastName" ng-model="lastName" placeholder="Last Name" required/>
        <br>
        <input type="email" name="email" ng-model="email" placeholder="Email"/>
        <br>

        <div class="right">
            <input type="submit" value="Next"  class="btn"/>
        </div>
        <div class="clear"></div>

    </form>
</div>

<div ng-show="steps[1].active && !steps[2].active">
    <form name="QuoteForm1" novalidate ng-submit="submit()" >

        <input type="number" class="left day"   name="day"   ng-model="day"    min="1" max="31" placeholder="DD" required/>
        <input type="number" class="left month" name="month" ng-model="number" min="1" max="12" placeholder="MM" required/>
        <input type="number" class="left year"  name="year"  ng-model="number" min="1940" max="2013" placeholder="YYYY" required/>
        <div  class="clear"></div>
        <br>
        <span class="errorMessage" ng-show="QuoteForm1.day.$error.min || QuoteForm1.day.$error.max">error day</span>

        <div class="right">
            <input type="submit" value="Next" ng-disabled="QuoteForm1.$invalid"/>
        </div>
        <div class="clear"></div>

    </form>
</div>

<div ng-show="steps[2].active && !steps[3].active">
    <form name="QuoteForm2" novalidate ng-submit="submit()" >

        step 3

        <div class="right">
            <input type="submit" value="Next" ng-disabled="QuoteForm2.$invalid"/>
        </div>
        <div class="clear"></div>

    </form>
</div>

<div ng-show="steps[3].active">
    <form name="QuoteForm3" novalidate ng-submit="submit()" >

        step 4

        <div class="right">
            <input type="submit" value="Finish" ng-disabled="QuoteForm3.$invalid"/>
        </div>
        <div class="clear"></div>

    </form>
</div>







