<h1>Your Quote</h1>

<div class="container">

    <div class="row" ng-show="steps[0].data">
        <h2>You :</h2>
        <div class="span12">
            {{steps[0].data.formality}} {{steps[0].data.firstName}} {{steps[0].data.lastName}}
            <span ng-show="steps[0].data.gender && steps[0].data.birthday">
                The {{steps[0].data.gender}} was born {{steps[0].data.birthday}}
            </span>
            <br>
            {{steps[0].data.tobacco}}
        </div>
    </div>
    <div class="row" ng-show="steps[1].data">
        <h2>Your partner :</h2>
        <div class="span12">
            {{steps[1].data.formality}} {{steps[1].data.firstName}} {{steps[1].data.lastName}}
            <span ng-show="steps[1].data.gender && steps[1].data.birthday">
                The {{steps[1].data.gender}} was born {{steps[1].data.birthday}}
            </span>
            <br>
            {{steps[1].data.tobacco}}
        </div>
    </div>

    <div class="row" ng-show="steps[2].data">
        <h2>You want </h2>
        <div class="span12">
            {{steps[2].data.}}
        </div>
    </div>

</div>