
<div class="">

    <div class="control-groups " ng-hide="formData.formality || formData.firstName || formData.birthday || formData.coverAmount || formData.coverTerm">
        <h3>Help and tips</h3>
        <p>
            <strong>Single or Joint policy…</strong>
            A joint life policy is typically cheaper than two single life policies. But while both cover two people’s lives, a joint life policy only pays out once, for whoever dies first, while with separate single life policies both will pay out if you both die.

        </p>
        <p>
            <strong>Why do we still need to know your gender?</strong>
            While we no longer use your gender to determine the cost of your policy, some of our health questions are only relevant if you're male or female.
        </p>
    </div>


    <div class="control-groups alert alert-info" ng-show="formData.formality || formData.firstName">
        <div class="text-center">
            <strong>You : </strong><span >{{formData.formality}} {{formData.firstName}} {{formData.lastName}}</span>
        </div>
        <div class="text-center" ng-show="formData.isPartner && ( formData.p_formality || formData.p_firstName)">
            <strong>Your Partner : </strong><span >{{formData.p_formality}} {{formData.p_firstName}} {{formData.p_lastName}}</span>
        </div>
    </div>

    <div class="control-groups alert alert-success" ng-show="formData.coverAmount || formData.coverTerm">
        <div ng-show="formData.coverAmount" class="text-center">
            <h2>Your quote for:</h2>
            <h2><span style="font-size: 2em;">£{{formData.coverAmount}}</span></h2>
            <h2>Life Insurance</h2>
        </div>
        <div ng-show="formData.coverAmount && formData.coverTerm"  class="text-center">
            <h2>over <span style="font-size: 1.4em;">{{formData.coverTerm}}</span> years</h2>
        </div>
    </div>


    <div class="control-groups alert alert-success" ng-show="formData.coverAmount && formData.coverTerm && formData.coverType">
        <div class="text-center" >
            <h2>Your quote:</h2>
            <h2>
                <strong style="font-size: 2.6em;">$440,000</strong>
            </h2>
            <h2>for only</h2>
            <h2><strong style="font-size: 2em;">$23.16</strong></h2>
            <h2>per month</h2>
        </div>
    </div>

</div>