<h1>Let us know what you want...</h1>

<form name="QuoteForm1" novalidate ng-submit="submit()" >
    <div class="row">
        <div class="span12">
            <p>Life cover amount</p>
        </div>
    </div>
    <div class="row">
        <div class="span3">

            <div class="input-prepend">
                <span class="add-on">&nbsp;&nbsp;&nbsp;$&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="span2"  placeholder="Life cover amount">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="span6">
            <small>
                How much cover you need is personal, but consider how much of your financial responsibilities you want paid if you were to die e.g. your mortgage, cost of bringing up children. We can offer up to £600,000 depending how old you are.
            </small>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="span12">
            <p>Cover term</p>
        </div>
    </div>
    <div class="row">
        <div class="span3">

            <div class="input-append">
                <input  type="text" class="span2" placeholder="Cover term">
                <span class="add-on">years</span>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span6">
            <small>
                Consider how long your major financial responsibilities are likely to last e.g. paying off a mortgage, bringing up children. You can take out our Life Insurance for up to 30 years or until the age of 70.
            </small>
        </div>
    </div>

    <br>


    <div class="row">
        <div class="span6">
            <p>Cover type</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <label class="radio">
                <input type="radio" name="coverType" value="level" checked>
                Level term
                <div>
                    <small>
                        Level term cover is typically used to cover a debt that doesn’t reduce over time e.g. an interest only mortgage or to provide a fixed amount to a loved one.
                    </small>
                </div>
            </label>
            <label class="radio">
                <input type="radio" name="coverType" value="decreasing">
                Decreasing term
                <div>
                    <small>
                        Decreasing value cover is typically used to cover a debt that reduces over time e.g. a repayment mortgage. We have assumed a 6% per year mortgage interest rate in our policy.
                    </small>
                </div>
            </label>
        </div>
    </div>


    <br>

    <div class="row">
        <div class="span6">
            <p>Include Critical Illness</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <label class="radio">
                <input type="radio" name="tobacco" value="yes" checked>
                Yes
            </label>
            <label class="radio">
                <input type="radio" name="tobacco" value="no">
                No
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <small>
                Critical illness provides cover if you suffer a critical illness such as a heart attack, stroke, cancer diagnosis (refer to the Policy Summary for a list of all illnesses we cover).
            </small>
        </div>
    </div>


    <br>


    <div class="row">
        <div class="span6">
            <p>Amount</p>
        </div>
    </div>
    <div class="row">
        <div class="span3">

            <div class="input-prepend">
                <span class="add-on">&nbsp;&nbsp;&nbsp;$&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="span2"  placeholder="" value="5,000">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span6">
            <small>
                You can choose between 10% and 100% of your Life cover amount, up to £600,000 depending how old you are.
            </small>
        </div>
    </div>

    <br>


    <div class="row">
        <div class="span12">
            <button type="submit" class="span2 offset4 btn btn-success">Next</button>
        </div>
    </div>
</form>
