<h1>About you</h1>

<form novalidate class="" ng-controller="Step1Controller">

    <div class="control-group ">
        <div class="">
            <h2>Your Name</h2>
        </div>

        <div class="form-inline">
            <span class="dropdown">

                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" ng-model="step.formality">
                    {{step.formality}}
                    <span ng-hide="step.formality">Please Select</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="" ng-click="setFormality('Mr')">Mr</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Mrs')">Mrs</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Miss')">Miss</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Ms')">Ms</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Doctor')">Doctor</a></li>
                </ul>
            </span>

            <input type="text" class="" name="firstName" ng-model="step.firstName" placeholder="Name"/>

        </div>
    </div>


    <div class="control-group">
            <div class="">
                <h2>Your Date of Birth</h2>
            </div>
            <div class="">
                <input type="text" value="02-16-2012" ng-model="step.birthday" class="datepicker">
            </div>
    </div>

    
    <div class="control-group" ng-class="{'alert alert-block' : (!step.gender && steps[0].error)}">
            <div class="">
                <h2>Your Gender</h2>
            </div>


            <div class="" style="min-width: 100px;">

                <label class="radio">
                    <input type="radio" ng-model="step.gender" name="gender" value="Male" required>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" ng-model="step.gender" name="gender" value="Female" required>
                    Female
                </label>
            </div>

            <div class="" >
                <small >
                    While we no longer use your gender to determine the cost of your policy, some of our health questions are only relevant if you're male or female.
                </small>
            </div>

    </div>

    <div class="control-group" ng-class="{'alert alert-block' : (!step.tobacco && steps[0].error)}">
            <div class="">
                <h2>Have you used any tobacco products or nicotine replacement products in the last 12 months?</h2>
            </div>
            <div class="">
                <label class="radio">
                    <input name="tobacco"  ng-model="step.tobacco" value="smoker"  type="radio"  required>
                    Yes
                </label>
                <label class="radio">
                    <input name="tobacco" ng-model="step.tobacco"  value="non-smoker"  type="radio" required>
                    No
                </label>
            </div>

            <div class="" >
                <small ng-class="{'text-warning' : step.tobacco=='smoker'}">
                    You must not have smoked or used any nicotine replacement products within the last 12 months to be a non smoker, if you have you are classed as a smoker.
                </small>
            </div>

    </div>

    <div class="control-group ins-group" ng-class="{'alert alert-block' : (!step.isPartner && steps[0].error)}">
            <div class="">
                <h2>Do you want to cover yourself, or both you and a partner?</h2>
            </div>
            <div class="">
                <label class="radio">
                    <input type="radio" ng-model="step.isPartner" name="isPartner" value="0" required>
                    Just me
                </label>
                <label class="radio">
                    <input type="radio"  ng-model="step.isPartner" name="isPartner" value="1" required>
                    Me and a partner
                </label>

                <div class="popover right">
                    <div class="arrow"></div>

                    <div class="popover-content">
                        <small>A joint life policy is typically cheaper than two single life policies. But while both cover two people’s lives, a joint life policy only pays out once, for whoever dies first, while with separate single life policies both will pay out if you both die.</small>
                    </div>
                </div>


            </div>


            <div class="" >
                <small>
                    A joint life policy is typically cheaper than two single life policies. But while both cover two people’s lives, a joint life policy only pays out once, for whoever dies first, while with separate single life policies both will pay out if you both die.
                </small>
            </div>
    </div>

    <div class="control-group">
        <div class="row">
            <button type="submit" class="span5 offset4 btn btn-success" ng-click="submit(step)">Next</button>
        </div>

        <div class="row"  ng-show="steps[0].error">
                <span class="span5 offset4 text-warning">
                    <small>Not all required fields are filled in correctly</small>
                </span>
        </div>
    </div>






</form>
