<form novalidate class="" ng-controller="Step1Controller">

    <div class="control-group  form-horizontal">
        <div class="controls first-name-control">
            <span class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" ng-model="step.formality">
                    {{step.formality}}
                    <span ng-hide="step.formality">Select...</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="" ng-click="setFormality('Mr')">Mr</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Mrs')">Mrs</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Miss')">Miss</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Ms')">Ms</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Doctor')">Doctor</a></li>
                </ul>
            </span>

            <input type="text" class="" name="firstName" ng-model="step.firstName" placeholder="First name..."/>

        </div>
    </div>

    <div class="control-group form-horizontal">
        <div class="controls">
            <input type="text" class="" name="lastName" ng-model="step.lastName" placeholder="Last name..."/>
        </div>
    </div>

    <div class="control-group form-horizontal">
        <label class="control-label">Your Date of Birth</label>
        <div class="controls">
            <!-- <input type="text" value="02-16-2012" ng-model="step.birthday" class="datepicker" placeholder="Your date of birth..."> -->
            <div class="datefield">
              <input id="day" type="tel" maxlength="2" placeholder="DD"/> /
              <input id="month" type="tel" maxlength="2" placeholder="MM"/> /
              <input id="year" type="tel" maxlength="4" placeholder="YYYY"/>
            </div>
        </div>
    </div>

    <div class="control-group row" ng-class="{'alert alert-block alert-error' : (!step.gender && steps[0].error)}">
        <h2>Your Gender</h2>
        
        <div ng-include="'views/error.html'"></div>

        <div class="clearfix span5">
            <label class="radio">
                <input type="radio" class="styled-radio" ng-model="step.gender" name="gender" value="Male" required>
                <span>Male</span>
            </label>
            <label class="radio">
                <input type="radio" class="styled-radio" ng-model="step.gender" name="gender" value="Female" required>
                <span>Female</span>
            </label>
        </div>

        <small class="span6">While we no longer use your gender to determine the cost of your policy, some of our health questions are only relevant if you're male or female.</small>
    </div>

    <div class="control-group row" ng-class="{'alert alert-block alert-error' : (!step.tobacco && steps[0].error)}">
        <h2>Have you used any tobacco products or nicotine replacement products in the last 12 months?</h2>

        <div ng-include="'views/error.html'"></div>

        <div class="clearfix span5">
            <label class="radio">
                <input name="tobacco" ng-model="step.tobacco" value="smoker"  type="radio" class="styled-radio"  required>
                <span>Yes</span>
            </label>
            <label class="radio">
                <input name="tobacco" ng-model="step.tobacco"  value="non-smoker"  type="radio" class="styled-radio" required>
                <span>No</span>
            </label>
        </div>

        <small class="span6" ng-class="{'info-error' : step.tobacco=='smoker'}">
            You must not have smoked or used any nicotine replacement products within the last 12 months to be a non smoker, if you have you are classed as a smoker.
        </small>

    </div>

    <div class="control-group row" ng-class="{'alert alert-block alert-error' : (!step.isPartner && steps[0].error)}">
        <h2>Do you want to cover yourself, or both you and a partner?</h2>

        <div ng-include="'views/error.html'"></div>

        <div class="clearfix span5">
            <label class="radio">
                <input type="radio" class="styled-radio" ng-model="step.isPartner" name="isPartner" value="0" required>
                <span>Just me</span>
            </label>
            <label class="radio vertical" >
                <input type="radio" class="styled-radio"  ng-model="step.isPartner" name="isPartner" value="1" required>
                <span>Me and a partner</span>
            </label>


            <!--<div class="popover right">-->
                <!--<div class="arrow"></div>-->
                <!--<h3 class="popover-title">Popover right</h3>-->
                <!--<div class="popover-content">-->
                    <!--<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <small class="span6">
            A joint life policy is typically cheaper than two single life policies. But while both cover two people’s lives, a joint life policy only pays out once, for whoever dies first, while with separate single life policies both will pay out if you both die.
        </small>
    </div>

    <div class="animate" ng-class="{'showed': step.isPartner=='1'}" >
        <h1>Your Partner</h1>

        <div class="control-group  form-horizontal">
            <div class="controls first-name-control">
            <span class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" ng-model="step.p_formality">
                    {{step.p_formality}}
                    <span ng-hide="step.p_formality">Select...</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="" ng-click="setFormality('Mr', true)">Mr</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Mrs', true)">Mrs</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Miss', true)">Miss</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Ms', true)">Ms</a></li>
                    <li><a tabindex="-1" href="" ng-click="setFormality('Doctor', true)">Doctor</a></li>
                </ul>
            </span>

                <input type="text" class="" name="firstName" ng-model="step.p_firstName" placeholder="First name..."/>

            </div>
        </div>

        <div class="control-group form-horizontal last-name-group">
            <div class="controls">
                <input type="text" class="" name="lastName" ng-model="step.p_lastName" placeholder="Last name..."/>
            </div>
        </div>

        <div class="control-group form-horizontal">
            <label class="control-label">Your Date of Birth</label>
            <div class="controls">
                <!-- <input type="text" value="02-16-2012" ng-model="step.birthday" class="datepicker" placeholder="Your date of birth..."> -->
                <div class="datefield">
                    <input id="day" type="tel" maxlength="2" placeholder="DD"/> /
                    <input id="month" type="tel" maxlength="2" placeholder="MM"/> /
                    <input id="year" type="tel" maxlength="4" placeholder="YYYY"/>
                </div>
            </div>
        </div>

        <div class="control-group row" ng-class="{'alert alert-block alert-error' : (!step.p_gender && steps[0].error)}">
            <h2>Your Gender</h2>

            <div ng-include="'views/error.html'"></div>

            <div class="clearfix span5">
                <label class="radio">
                    <input type="radio" class="styled-radio" ng-model="step.p_gender" name="p_gender" value="Male" required>
                    <span>Male</span>
                </label>
                <label class="radio">
                    <input type="radio" class="styled-radio" ng-model="step.p_gender" name="p_gender" value="Female" required>
                    <span>Female</span>
                </label>
            </div>

            <small class="span6">While we no longer use your gender to determine the cost of your policy, some of our health questions are only relevant if you're male or female.</small>

        </div>

        <div class="control-group row" ng-class="{'alert alert-block alert-error' : (!step.p_tobacco && steps[0].error)}">
            <h2>Have you used any tobacco products or nicotine replacement products in the last 12 months?</h2>

            <div ng-include="'views/error.html'"></div>

            <div class="clearfix span5">
                <label class="radio">
                    <input name="p_tobacco" ng-model="step.p_tobacco" value="smoker"  type="radio" class="styled-radio"  required>
                    <span>Yes</span>
                </label>
                <label class="radio">
                    <input name="p_tobacco" ng-model="step.tobacco"  value="non-smoker"  type="radio" class="styled-radio" required>
                    <span>No</span>
                </label>
            </div>

            <small class="span6" ng-class="{'info-error' : step.p_tobacco=='smoker'}">
                You must not have smoked or used any nicotine replacement products within the last 12 months to be a non smoker, if you have you are classed as a smoker.
            </small>
        </div>
    </div>


    <div class="control-group">
        <div class="row">
            <button type="submit" class="span5 offset3 btn btn-large btn-success" ng-click="submit(step)">Next</button>
        </div>
    </div>

</form>
