<h1 xmlns="http://www.w3.org/1999/html">Your quote</h1>
<form  name="QuoteForm2" novalidate ng-submit="submit()">
    <div class="row">
        <div class="span6">
            The quote we've supplied so far is a quick quote. To provide a final quote we need a little more information about you, your health, occupation and lifestyle. This will take about 10 minutes, you can save your information at any point and complete it later.
        </div>
    </div>

    <br>

    <div class="row">
        <div class="span6">
            <strong>
                Let's start by making sure you're happy with your quote for
            </strong>
            <br>
            <strong>
                <span class="text-success">£450,000 Life insurance</span>
            </strong>
            <br>
            <strong>
                <span class="text-success">over 35 years</span>
            </strong>
            <a href="/" class="btn btn-link btn-success">
                <small><span class="text-success"><i class=" icon-pencil"></i>change</span></small>
            </a>
            <br>
        </div>
    </div>

    <br>

    <div class="row">

        <div class="span1 text-center">
                <input type="radio" name="cost" value="1" >
                <br>
                <strong>$430,000</strong>
                <small>for only</small>
                <strong>$22,69</strong>
                <small>per month</small>
        </div>

        <div class="span1 text-center">
            <input type="radio" name="cost" value="2">
            <br>
            <strong>$440,000</strong>
            <small>for only</small>
            <strong>$23.16</strong>
            <small>per month</small>
        </div>

        <div class="span1 text-center  text-success">
            <input type="radio" name="cost" value="3" checked>
            <br>
            <strong>$450,000</strong>
            <small>for only</small>
            <strong>$23.63</strong>
            <small>per month</small>
        </div>

        <div class="span1 text-center">
            <input type="radio" name="cost" value="4">
            <br>
            <strong>$460,000</strong>
            <small>for only</small>
            <strong>$24.11</strong>
            <small>per month</small>
        </div>

        <div class="span1 text-center">
            <input type="radio" name="cost" value="5">
            <br>
            <strong>$470,000</strong>
            <small>for only</small>
            <strong>$24.58</strong>
            <small>per month</small>
        </div>


    </div>

    </br>
    </br>
    </br>

    <div class="row">
        <div class="span6">
            <a href="/" class="span3 btn btn-large btn-success">Continue</a>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <a href="/" class="span3 btn btn-link">
                <small><span class="text-success"><i class="icon-book"></i>or save it for later</span></small>
            </a>
        </div>
    </div>

</form>